/*This is styling sheet for About Me site*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-variant:small-caps;
    text-decoration: red;
  }
  
  li a:hover {
    background-color: lime;
  }